.home-container {
  width: 100vw;
  height: auto;
}

.home-header {
  width: 100%;
  height: 3.5em;
}

.home-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-footer {
  background-color: #2e1d1e;
  height: 2.5em;
  color: white;
  display: flex;
  align-items: center;
  margin-top: 9.1em;
}
